<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Phonebook App</title>
</head>
<body>
    <h1>Phonebook Application</h1>
    <ul>
        <li><a href="{% url 'contact_list' %}">Contacts List</a></li>
        <li><a href="{% url 'add_contact' %}">Add Contact</a></li>
        <li><a href="{% url 'search_contact' %}">Search Contact</a></li>
{#        <li><a href="{% url 'edit_contact' %}">Edit Contact</a></li>#}
{#        <li><a href="{% url 'delete_contact' %}">Delete Contact</a></li>#}
        <li><a href="#">Edit Contact</a></li>
        <li><a href="#">Delete Contact</a></li>
    </ul>
</body>
</html>


